<div class="Blog" id="Blog">
  <h1>Blog</h1>
  <p>Here you can read articles about the city or add your own.</p>
  <h2>Add your own post</h2>
  <h3>Title:</h3>
  <input
    name="PostTitle"
    type="text"
    size="28"
    maxlength="60"
    placeholder="Title"
    #titlebox
  />
  <h3>Text:</h3>
  <textarea placeholder="Write your text" #contentbox></textarea>
  <button (click)="post(titlebox, contentbox)">Post</button>
  <h2 #postedpart>Posts</h2>
  <ul class="blog_posts" id="blogPost" *ngFor="let post of posts; index as i">
    <app-blogs
      [style.display]="view(i)"
      [posted]="post"
      [ind]="i"
      (todel)="deletePost($event)"
    ></app-blogs>
  </ul>
  <div style="text-align: center" *ngIf="posts.length > 0">
    <button (click)="decrease(postedpart)" class="nextButton">Prev</button>
    <p style="display: inline; text-align: center; padding-left: auto">
      {{ todisplay + 1 }}/{{ posts.length }}
    </p>
    <button (click)="increase(postedpart)" class="nextButton">Next</button>
  </div>
</div>
