.image {
  background-color: lightgray;
  max-width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10%;
  padding: 3%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.image h2 {
  color: rgb(121, 109, 109);
}
.nextButton {
  background-color: rgb(123, 191, 206);
  color: black;
  border-radius: 5%;
  margin-bottom: 5%;
  height: 20 px;
  width: 20 px;
  display: inline;
  margin-left: 0%;
}
.nextButton:hover {
  background-color: rgb(14, 113, 135);
  color: white;
}
