<div class="container-fluid" id="top">
  <div class="row">
    <div class="col-md-4">
      <nav>
        Menu
        <ul>
          <li><a href="#top">Home</a></li>
          <li><a href="#Gallery">Gallery</a></li>
          <li><a href="#Blog">Blog</a></li>
          <li><a href="#Feedback">Feedback</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-6"><h1>City Explorer Zurich</h1></div>
    <div class="col-md-2" id="login_page">
      <input
        id="login"
        name="login"
        type="text"
        size="14"
        maxlength="30"
        placeholder="Username"
      />
      <button id="Login_button">Login</button>
    </div>
  </div>
</div>
